body {
    font-family: 'Roboto', sans-serif;
    color: #434455; ;
    background-color:#FFFFFF ;

}
ul { list-style: none;

}
a {text-decoration: none;

}
.header {
}
.hedear-navigation {
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo-color {
    color: #2e2f42; 
}
.header-logo:hover,
.header-logo:focus{
    color:#404bbf;}

.header-menu-list {
}
.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-link:hover, 
.header-menu-link:focus{
    color:#404bbf;
}
/* .header-menu-item:hover,
.header-menu-item:focus{
    color:#404bbf; 
}  */
.adrs-s{
    font-style: normal;
}

.adrs-contact-link {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
 
}
.adrs-contact-link:hover, 
.adrs-contact-link:focus{
    color:#404bbf;}

    .hero {
       background-color: #2e2f42;;
    }
  
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    }
    .cection-hero-btn {
        background-color: #4D5AE5;
        font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
    }
    .cection-hero-btn:hover,
    .cection-hero-btn:focus{
        background-color: #404BBF;}

        .features {
            background-color: #F4F4FD;
        }
.visually-hidden {
        
        
       
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
        .features-list {
        }
        .features-item {
        }
     .features-subtitle {
            font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
        }
        
.features-item-text {
            font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
        }
      
        .taste {
            background-color: #F4F4FD
        }
        .taste-title {
            text-transform: capitalize;
            font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
        }
       
        .taste-list {
           
         
        }
        .taste-item {
            background-color: #FFFFFF; 
        }
        .taste-item-img {
        }
        .taste-subtitle {
            font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
        }
        
        .taste-text {
            font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
        }
      

        .portfol {
        }
        .portfol-title {
            text-transform: capitalize;
            font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
        }
        
        .portfol-list {
        }
        .portfol-item {
        }
        .portfol-subtitle {
            font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
        }
        
        .portfol-text {
            font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
        }
       
.footer {
background-color: #2e2f42;
        }
 .footer-logo {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
        }
        .footer-logo-color {
            color: #f4f4fd;
        }
        .footer-text {
            font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd; #f4f4fd
        }






.footer-logo-color{
    color: #f4f4fd;
}